<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <mapping class="be.rubus.shop.model.Product" />
        <mapping class="be.rubus.shop.model.Order" />
        <mapping class="be.rubus.shop.model.Customer" />
        <mapping class="be.rubus.shop.model.OrderLine" />
        
        <mapping class="be.rubus.shop.model.MeetingRoom" />
        <mapping class="be.rubus.shop.model.Reservation" />
        <mapping class="be.rubus.shop.model.User" />
        <mapping class="be.rubus.shop.model.Holiday" />

    </session-factory>
</hibernate-configuration>